
body {
   font-family: roboto, sans-serif;
}

h1.title {
   font-size: large;
   font-weight: bold;
   color: dimgray;
}

a:hover,
a:active,
a:focus {
   text-decoration: none;
}

.icon-bars {
   cursor: pointer;
}

#MainPage div.content {
   background-color: white;
}

#RightDrawer {
   display: none;
   z-index: 2;
}

.btn-round {
   width: 24px;
   height: 24px;
   border-radius: 18%;
   text-align: center;
   padding-top: 2px;
}

my-header-bar header.bar {
   box-shadow: 0 0 4px dimgray;
}

my-header-bar + div {
   padding-top: 60px;
}

my-header-bar a.fa.fa-shopping-cart {
   font-size: 1.25em;
   margin-top: 10px;
   margin-right: 8px;
   color: gray;
   position: relative;
}

   my-header-bar a.fa.fa-shopping-cart .tag {
      position: absolute;
      top: -5px;
      right: -5px;
      font-size: 50%;
      font-weight: normal;
      border-radius: 50%;
      padding: .25em .45em;
      opacity: 0.8;
      background-color: #ffbb33;
      color: black;
   }

my-toaster div.toaster {
   visibility: hidden;
   opacity: 0;
   color: white;
   background-color: #5bc0de;
   padding: 1.5rem;
   border: 1px solid #46b8da;
   border-radius: 4px;
   box-shadow: 0 0 8px dimgray;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
   transform: translateX(-50%) translateY(-50%) scale(0.7);
   transition: visibility 0s linear .25s, opacity .25s ease-in-out, all .25s;
   -webkit-transition: visibility 0s linear .25s, opacity .25s ease-in-out, all .25s;
}

   my-toaster div.toaster.show {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
      -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
      transform: translateX(-50%) translateY(-50%) scale(1);
   }
