a:hover,
a:active,
a:focus {
   text-decoration: none;
}

#MainPage div.content {
   background-color: white;
}

.btn-round {
   width: 24px;
   height: 24px;
   border-radius: 18%;
   text-align: center;
   padding-top: 2px;
}

my-header-bar + div {
   padding-top: 50px;
}

my-menu-item .card img {
   width: 100%;
}

my-menu-item .card h4 {
   font-weight: bold;
   font-size: medium;
   border-bottom: 1px solid silver;
}

@media (max-width: 544px) {
   my-menu-item .card h4 {
      font-size: small;
   }
}
