a:hover,
a:active,
a:focus
 {
   text-decoration: none;
}

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 18%;
    text-align:center;
    padding-top: 2px;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}

.btn-round.btn-sm {
    width: 34px;
    height: 34px;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
}

header.bar-nav + div {
   padding-top: 50px;
}


.card img {
   width: 100%;
}