a:hover,
a:active,
a:focus {
   text-decoration: none;
}

#MainPage div.content {
   background-color: white;
}

.btn-round {
   width: 24px;
   height: 24px;
   border-radius: 18%;
   text-align: center;
   padding-top: 2px;
}

my-header-bar + div {
   padding-top: 50px;
}

my-menu-item .card img {
   width: 100%;
}

my-menu-item .card-title {
   font-weight: bold;
   font-size: medium;
   font-size: 1vw;
   padding-bottom: 10px;
   border-bottom: 1px solid #e6e6e6;
}

my-menu-item .card-price {
   color: #666666;
}

@media (max-width: 992px) {
   my-menu-item .card-title,
   my-menu-item .card-price {
      font-size: small;
   }
}

@media (max-width: 544px) {
   my-menu-item .card-title,
   my-menu-item .card-price {
      font-size: small;
   }
}

.tab-breakfast input[id=tab-breakfast] ~ .tab-label-content .tab-content,
.tab-lunch input[id=tab-lunch] ~ .tab-label-content .tab-content,
.tab-dinner input[id=tab-dinner] ~ .tab-label-content .tab-content {
   opacity: 1;
}

.tab-breakfast .slide {
   left: 2%;
}

.tab-lunch .slide {
   left: calc((90% / 3) * 1 + 5% );
}

.tab-dinner .slide {
   left: calc((90% / 3) * 2 + 8% );
}

my-tab-panel .tab-panel {
   width: 100%;
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

   my-tab-panel .tab-panel label {
      cursor: pointer;
      width: 100%;
      text-align: center;
   }

   my-tab-panel .tab-panel .slide {
      background: #ffeb3b;
      width: calc(90% / 3);
      height: 4px;
      position: absolute;
      top: calc(100% - 4px);
      -webkit-transition: left 0.3s ease-out;
      transition: left 0.3s ease-out;
   }

my-tab {
   width: 100%;
}

   my-tab input[type="radio"][name="tabs"] {
      position: absolute;
      z-index: -1;
      opacity: 0;
   }

   my-tab .tab-label-content {
      width: 100%;
   }

      my-tab .tab-label-content .tab-content {
         position: absolute;
         top: 50px;
         left: 16px;
         line-height: 130%;
         opacity: 0;
         transition: opacity .25s ease-in-out;
         -webkit-transition: opacity .25s ease-in-out;
      }
