<!DOCTYPE html>
<html>
<head>
   <title></title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="/Scripts/Example/chart.min.js" type="text/javascript"></script>
   <script src="/Scripts/Example/LiveChart.js" type="text/javascript"></script>
   <script src="/Scripts/require.js" data-main="/Scripts/app"></script>   
</head>
<body>
   <h3>Live Chart</h3>
   <div data-vm="LiveChartVM">
      <canvas data-bind="vmOn: { Data: updateChart }" />
   </div>
</body>
</html>
