
body {
   font-family: roboto, sans-serif;
}

h1.title {
   font-size: large;
   font-weight: bold;
   color: dimgray;
}

a:hover,
a:active,
a:focus {
   text-decoration: none;
}

.icon-bars {
   cursor: pointer;
}

#MainPage div.content {
   background-color: white;
}

#RightDrawer {
   display: none;
   z-index: 2;
}

.btn-round {
   width: 24px;
   height: 24px;
   border-radius: 18%;
   text-align: center;
   padding-top: 2px;
}

my-header-bar header.bar {
   box-shadow: 0 0 4px dimgray;
}

my-header-bar + div {
   padding-top: 60px;
}

my-header-bar a.fa.fa-shopping-cart {
   font-size: 1.25em;
   margin-top: 10px;
   margin-right: 8px;
   color: gray;
}

   my-header-bar a.fa.fa-shopping-cart .tag {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 50%;
      font-weight: normal;
      border-radius: 50%;
      padding: .25em .45em;
      opacity: 0.8;
      background-color: yellow;
      color: black;
   }
