<div class="content" data-vm="Page3VM">
   <!-- Page title -->
   <header class="bar bar-nav">
      <a class="my-side-menu-btn icon icon-bars pull-left"></a>
      <a class="icon icon-refresh pull-right"></a>
      <h1 class="title">Home</h1>
   </header>
   <div>
      <!--<ul class="table-view">
         <my-menu-item params="caption: Page1Title, url: Page1, nav:'navigate-right'"></my-menu-item>
         <my-menu-item params="caption: Page2Title, url: Page2"></my-menu-item>
         <my-menu-item params="caption: Page3Title, url: Page3"></my-menu-item>
      </ul>-->
   </div>

</div>
