<!DOCTYPE html>
<html>
<head>
   <title>DotNetify App</title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/css/bootstrap.min.css" rel="stylesheet">
   <link href="/css/font-awesome.min.css" rel="stylesheet">
   <link href="/css/ratchet.min.css" rel="stylesheet">
   <link href="/css/ratchet-theme-ios.min.css" rel="stylesheet">
   <link href="/css/snap.css" rel="stylesheet">
   <link href="/css/my-app.css" rel="stylesheet">
   <script src="/scripts/require.min.js" data-main="/scripts/my-app/app"></script>
</head>

<body data-vm="IndexVM">

   <!-- Sliding side menu -->
   <div class="snap-drawers content">
      <div class="snap-drawer snap-drawer-left">
         <!-- Menu title -->
         <div class="table-view-cell" data-bind="html: UserName"></div>
         <!-- Menu items -->
         <ul class="my-side-menu table-view" data-bind="foreach: Menu">
            <my-menu-item params="icon: Icon, caption: Caption, url: Route" />
         </ul>
         <!-- Sign out bar -->
         <nav class="bar bar-footer">
            <button class="btn btn-block btn-positive">Sign Out</button>
         </nav>
      </div>
   </div>

   <!-- Main page  -->
   <div id="MainPage" class="snap-content">
      <div class="content">
         <!-- Page title -->
         <header class="bar bar-nav">
            <a class="my-side-menu-btn icon icon-bars pull-left"></a>
            <a class="icon icon-refresh pull-right"></a>
            <h1 class="title">My Take-Out App</h1>
         </header>
         <ul class="table-view">
            <my-menu-item params="caption: Page1Title, url: Page1, nav:'navigate-right'"></my-menu-item>
            <my-menu-item params="caption: Page2Title, url: Page2"></my-menu-item>
            <my-menu-item params="caption: Page3Title, url: Page3"></my-menu-item>
         </ul>
      </div>
   </div>
</body>
</html>
