<!DOCTYPE html>
<html>
<head>
   <title>DotNetify App</title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/css/my-app/_master.css" rel="stylesheet">
   <script src="/scripts/libs/require.min.js" data-main="/scripts/my-app/app"></script>
</head>

<body data-vm="IndexVM">

   <!-- Side navigation drawer (courtesy of snap.js) -->
   <div class="snap-drawers content">
      <div class="snap-drawer snap-drawer-left">
         <!-- Title -->
         <div id="UserName" class="table-view-cell"></div>
         <!-- Navigation items -->
         <ul id="SideNav" class="my-side-nav table-view">
            <my-nav-item params="icon: Icon, caption: Caption, url: Route, nav: 'navigate-right'" />
         </ul>
         <!-- Sign out button -->
         <nav class="bar bar-footer">
            <a class="btn btn-block btn-positive" href="/login"><span id="SignOut"></span></a>
         </nav>
      </div>
   </div>

   <!-- Main page  -->
   <div id="MainPage" class="snap-content">
      <div class="content">
         <my-header-bar />
      </div>
   </div>

    <!-- Right drawer -->
   <div id="RightDrawer" class="snap-content">

   </div>
</body>
</html>
