<!DOCTYPE html>
<html>
<head>
   <title>DotNetify App</title>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="/css/my-app/_master.css" rel="stylesheet">
</head>

<body>
   <div id="Login" class="content" data-vm="LoginVM">

      <header class="bar bar-nav">
         <h1 class="title" data-bind="html: PageTitle"></h1>
      </header>

      <!-- Brochure image with a center button that initiates Google authentication -->
      <div class="brochure">
         <h1 data-bind="text: Slogan">Fresh meal delivered to your doorstep</h1>
         <div>
            <form action="/auth" method="post">
               <button id="Google" type="submit">
                  <span class="fa fa-google"></span>
                  <span data-bind="text: GoogleAuthCaption">Continue with Google</span>
               </button>
            </form>
         </div>
      </div>
      <div id="HowItWorks">
         <h1 data-bind="text: HowItWorksTitle">How It Works</h1>
         <p data-bind="text: HowItWorksText"></p>
      </div>

   </div>
</body>
</html>
