<div class="content" data-vm="Page3VM">
   <!-- Page title -->
   <header class="bar bar-nav">
      <a class="my-side-menu-btn icon icon-bars pull-left"></a>
      <a class="icon icon-refresh pull-right"></a>
      <h1 class="title">Today's Menus</h1>
   </header>
   <div>
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-3 col-xs-6 col-sm-4">
               <div class="card">
                  <img class="card-img-top" src="/images/breakfast_bagel.jpg" alt="Card image cap">
                  <div class="card-block">
                     <h4 class="card-title">Card title</h4>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
               </div>
            </div>

            <div class="col-lg-3 col-xs-6 col-sm-4">
               <div class="card">
                  <img class="card-img-top" src="/images/breakfast_bagel.jpg" alt="Card image cap">
                  <div class="card-block">
                     <h4 class="card-title">Card title</h4>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
               </div>
            </div>

            <div class="col-lg-3 col-xs-6 col-sm-4">
               <div class="card">
                  <img class="card-img-top" src="/images/breakfast_bagel.jpg" alt="Card image cap">
                  <div class="card-block">
                     <h4 class="card-title">Card title</h4>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
               </div>
            </div>

            <div class="col-lg-3 col-xs-6 col-sm-4">
               <div class="card">
                  <img class="card-img-top" src="/images/breakfast_bagel.jpg" alt="Card image cap">
                  <div class="card-block">
                     <h4 class="card-title">Card title</h4>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
               </div>
            </div>

            <div class="col-lg-3 col-xs-6 col-sm-4">
               <div class="card">
                  <img class="card-img-top" src="/images/breakfast_bagel.jpg" alt="Card image cap">
                  <div class="card-block">
                     <h4 class="card-title">Card title</h4>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>

</div>
