<div id="Menu" class="content" data-vm="MenuVM">

   <my-header-bar params="title: PageTitle"></my-header-bar>

   <div>
      <my-tab-panel params="selected: ActiveTab">

         <my-tab params="id: 'tab-breakfast', caption: BreakfastTabCaption">
            <my-menu params="menuItems: BreakfastMenu">
               <my-menu-item params="id: Id, imageUrl: ImageUrl, name: Name, price: Price, itemAdded: ItemAdded, route: Route, add: AddCommand"></my-menu-item>
            </my-menu>
         </my-tab>

         <my-tab params="id: 'tab-lunch', caption: LunchTabCaption">
            <my-menu params="menuItems: LunchMenu">
               <my-menu-item params="id: Id, imageUrl: ImageUrl, name: Name, price: Price, itemAdded: ItemAdded, route: Route, add: AddCommand"></my-menu-item>
            </my-menu>
         </my-tab>

         <my-tab params="id: 'tab-dinner', caption: DinnerTabCaption">
            <my-menu params="menuItems: DinnerMenu">
               <my-menu-item params="id: Id, imageUrl: ImageUrl, name: Name, price: Price, itemAdded: ItemAdded, route: Route, add: AddCommand"></my-menu-item>
            </my-menu>
         </my-tab>
      </my-tab-panel>
   </div>

</div>
